<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rugovit.igrica"
    android:versionCode="104"
    android:installLocation="preferExternal"
    android:versionName="104"

   
     >
    

    <supports-screens android:anyDensity="true"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!--////////////////////////////////////GETJAR PRODAJA/////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
         <!--//ISKLJUCENO!!!!!!!!!!!!
     <uses-permission android:name="android.permission.GET_ACCOUNTS" />
     <uses-permission android:name="android.permission.GET_TASKS" />
        -->
    <!--/////////////////////////////////////////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
   
   
    <application

        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:largeHeap="true" 
        android:hardwareAccelerated="true"
        android:name="com.rugovit.igrica.MyApplication"
       
      >
      
        
         <!--////////////////////////////////////GETJAR PRODAJA/////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <!--//ISKLJUCENO!!!!!!!!!!!!
      <service android:name="com.getjar.sdk.rewards.GetJarService" />
       <receiver android:name="com.getjar.sdk.data.metadata.PackageMonitor" android:enabled="true" android:exported="true">
          <intent-filter>
             <action android:name="android.intent.action.PACKAGE_ADDED" />
             <action android:name="android.intent.action.PACKAGE_REMOVED" />
             <data android:scheme="package" />
          </intent-filter>
       </receiver>
       <activity android:name="com.getjar.sdk.rewards.GetJarActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
               />
               -->
         <!--/////////////////////////////////////////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
   
   
   
   <!--///////////////////////////////////////////////////////AMAZON PRODAJA///////////////////////////////////////////////////////////////////////////-->
 
<receiver android:name = "com.amazon.device.iap.ResponseReceiver" >
  <intent-filter>
    <action android:name = "com.amazon.inapp.purchasing.NOTIFY"
      android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
  </intent-filter>
</receiver>

 <!--/////////////////////////////////////////////////////////AMAZON PRODAJA////////////////////////////////////////////////////////////////////////////-->


        <activity
            android:name="com.rugovit.igrica.IgricaActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaPlacenaPiramida"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaplacenapiramida" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaPlacenaZvijezda"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaplacenazvijezda" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaVrhPlanine"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazavrhplanine" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaPlacenaSuma"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaplacenasuma" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaBorovaSuma"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaborovasuma" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaSupljina"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazasupljina" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaUlazUBrdo"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaulazubrdo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaZapaljenGrad"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazazapaljengrad" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaZapaljenoSelo"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazazapaljenoselo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaPoljeJabuka"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazapoljejabuka" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaRacvanje"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazaracvanje" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaSumaPocetna"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazasumapocetna" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaMost"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazamost" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaGradMost"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazagradmost" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaSumskiProlaz"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazasumskiprolaz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaBrdovita"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazabrdovita" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaGradRibarski"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazagradribarski" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.rugovit.igrica.engine.ui.levels.FazaRijecniProlaz"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.fazarijecniprolaz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rugovit.igrica.MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize" 
              >
            <intent-filter>
                <action android:name="android.intent.action.pokreni_mapu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
 
</manifest>